<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update ElvUI</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="./../styles.css">
</head>
<body>
  <div class="meta-configuration-container">
    <div class="configuration-container">
          <h4 class="version-label">Configuration</h4>
          <p>Current WoW Folder</p>
          <p><b id="content"></b></p>
          <button class="button" id="open-btn">Change your WoW folder</button>
          <button class="button" id="back-btn" hidden>Go Back</button>
          </div>
  </div>
  <script src="./renderer.js"></script>
</body>
</html>