<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update ElvUI</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
  <div class="container">
    <button type="button" id="wow-folder">Open a File</button>
    File path: <strong id="filePath"></strong>
    <div class="container flex-container"> <!-- Flex Container -->
      <div class="card"> <!-- Card -->
        <h3 class="version-label">Local ElvUI Version</h3>
        <h2 class="version-number" id="current-version"></h2>
      </div>
      <div class="card"> <!-- Card -->
        <h3 class="version-label">Online ElvUI Version</h3>
        <h2 class="version-number"id="online-version"></h2>
      </div>
    </div>
  </div>
    <button id="start">Start</button>
    <script src="./renderer.js"></script>
</body>
</html>