<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
    <p>Current ElvUI version: <span id="current-version"></span></p>
    <p>Online ElvUI version: <span id="online-version"></span></p>
    <button id="start">Start</button>
    <script src="./renderer.js"></script>
  </body>
</body>
</html>